

<h2> 
  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
  <span>Current product count: <%= @product_count %> </span>
</h2>
<h2> 
  <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 
  <span>Current category count: <%= @category_count %> </span>
</h2>